
<p style="color: #393A3B; font-size: 24px; font-family: 'Nunito Sans'; font-weight: bold; margin-bottom: 5px;">
  <%= I18n.t('mailer.reset_password_instructions.reset_password') %>
</p>
<p style="color: #393A3B; font-size: 21px; font-family: 'Nunito Sans'; margin-top: 0;">
  <%= I18n.t('mailer.reset_password_instructions.forget_password') %>
</p>
<br>
<p style="color: #393A3B; font-size: 16px; font-family: 'Nunito Sans'; margin-top: 0; margin-bottom: 5px;">
  <%= I18n.t('mailer.greetings', name: @user.name) %>
</p>
<p style="color: #393A3B; font-size: 16px; font-family: 'Nunito Sans'; margin-top: 0; margin-bottom: 5px;">
  <%= I18n.t('mailer.reset_password_instructions.information') %>
</p>
<p style="color: #393A3B; font-size: 16px; font-family: 'Nunito Sans'; margin-top: 0;">
  <%= I18n.t('mailer.reset_password_instructions.error_case') %>
</p>
<br>
<div style="text-align: left;">
  <%= link_to I18n.t('mailer.reset_password_instructions.access_edit_password'), @reset_password_url, 
      style: "background-color: #{@primary_color};
              color: #454647;
              display: inline-block;
              width: 100%;
              max-width: 600px;
              height: 55px;
              line-height: 55px; 
              border-radius: 28px; 
              text-decoration: none; 
              font-size: 16px; 
              font-weight: bold;
              font-family: 'Nunito';
              text-align: center;" %>
</div>
<br>
<p style="color: #393A3B; font-size: 16px; font-family: 'Nunito Sans'">
  <%= I18n.t('mailer.copy_or_paste_link') %>
</p>
<p style="font-size: 16px; font-family: Nunito Sans">
  <%= link_to @reset_password_url, @reset_password_url, style: 'color: #00B6F2' %>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>