
<p style="color: #6275FB; font-size: 48px; font-family: Arial; font-weight: bold;">
  <%= I18n.t('mailer.unlock_instructions.recover_access') %>
</p>
<br>
<p style="color: #E4E8FF; font-size: 16px; font-family: 'Arial'">
  <%= I18n.t('mailer.greetings', name: @user.email) %>
</p>
<p style="color: #E4E8FF; font-size: 16px; font-family: 'Arial'">
  <%= I18n.t('mailer.unlock_instructions.information') %>
</p>
<br>
<p style="color: #E4E8FF; font-size: 16px; font-family: 'Arial'">
  <%= I18n.t('mailer.unlock_instructions.information_2') %>
</p>
<br>
<br>
<p style="text-align: left; font:bold 18px Arial;">
  <%= link_to I18n.t('mailer.unlock_instructions.renew_password'), @reset_password_url, style: 'background-color: #6275FB; 
      color: #ffffff; 
      padding: 18px 27px; 
      border-radius: 8px; 
      text-decoration:none' %>
</p>
<br>
<br>
<p style="color: #E4E8FF; font-size: 16px; font-family: 'Arial'">
  <%= I18n.t('mailer.copy_or_paste_link') %>
</p>
<p style="font-size: 16px; font-family: Arial">
  <%= link_to @reset_password_url, @reset_password_url, style: 'color: #6275FB' %>
</p>
<br>
<br>